.mainContainer {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 100px auto;
  margin-bottom: 0;
  max-width: 800px;
  color: #000;
  border-radius: 12px;
}

.requiredInfo {
  margin: 0 auto;
  max-width: 800px;
}

.requiredInfo__paragraph {
  margin: 0;
  padding: 5px;
  color: #000;
  font-size: 10px;
  font-weight: 700;
}

.resultContainer {
  background-color: rgba(255, 255, 255, 0.75);
  font-weight: 700;
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.resultContainer__paragraph {
  margin: 0 20px;
}
