.currencyForm {
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.25);
  max-width: 900px;
  padding: 10px;
  border-radius: 20px;
}

.currencyForm__inputs {
  margin: 25px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgb(40, 40, 40);
  border: none;
  background-color: whitesmoke;
}

.currencyForm__legend {
  padding: 10px;
  background-color: hsla(0, 0%, 85%, 0.8);
  border-radius: 8px;
  color: #000;
  border: 1px solid black;
  font-weight: 700;
}

.currencyForm__InputContainer {
  padding: 10px;
  text-align: center;
}

.currencyForm__label {
  padding: 5px;
}

.currencyForm__labelText {
  font-weight: 700;
  padding: 3px;
}

.currencyForm__inputField {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.currencyForm__selectField {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.actionButtons__item {
  padding: 10px;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgb(40, 40, 40);
  border: none;
  font-weight: 700;
  width: 300px;
  margin: auto 2px;
}

.actionButtons {
  display: flex;
  justify-content: center;
}

.currencyForm__score {
  margin: 25px auto;
  padding: 10px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgb(40, 40, 40);
  border: none;
  background-color: whitesmoke;
}

.currencyForm__outputScore {
  text-align: center;
  font-size: 20px;
  margin: 0;
}
