@media (max-width: 550px) {
  .body {
    background-image: url(../images/currency-converter-background-smartphones-long.jpg);
    background-size: auto;
  }
}

@media (max-width: 100vw) {
  .body {
    background-image: url(../images/currency-converter-background.jpg);
  }
}

@media (max-width: 950px) {
  .body {
    background-image: url(../images/currency-converter-background-smartphones.jpg);
  }
}
