html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-image: url("../images/currency-converter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
