html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-image: url("../images/currency-converter-background.jpg");
}

.mainContainer {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 50px auto;
  margin-bottom: 0;
  max-width: 1000px;
  color: #000;
  border-radius: 12px;
}

.form__fieldset {
  border-radius: 12px;
  border: 2px solid #ffffff;
}

.form__header {
  text-align: center;
  font-weight: 700;
}

.mainContainer__requiredInfo {
  margin: 0 auto;
  max-width: 1000px;
}

.requiredInfo__paragraph {
  margin: 0;
  color: #fff;
}

.resultContainer {
  background-color: #ddd;
  margin: 50px auto;
  max-width: 1000px;
  padding: 20px;
}
